{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Home {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <a class="btn btn-primary" href="/" role="button">Home</a>
            <br>
            <H2>
                <B>Question : {{ answers.question }}</B>
            </H2>
            <div class="jumbotron p-3">
                <h2><b>Answer </b>
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add New Answer
                        </button>
                </h2>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Answer</th>
                    </tr>


                    {% for row in answers.ans %}
                    <tr>
                        <td>{{ row.answerid }}</td>
                        <td>{{ row.answer }}</td>
                        <td>
                            <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ row.answerid }}">Edit</a>
                            <a href="/delete-a/{{ answers.qid }}/{{ row.answerid }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>

                    <div id="modaledit{{ row.answerid }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('updateanswer') }}" method="POST">
                                        <div class="form-group">
                                            <label>Question:</label>
                                            <input type="text" hidden name="qid" value="{{ answers.qid }}">
                                            <input type="text" hidden name="aid" value="{{ row.answerid }}">
                                            <input type="text" class="form-control" name="answer" value="{{ row.answer }}">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Update Answer
                                                    </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add New Answer</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('insertanswer') }}" method="POST">
                                <div class="form-group">
                                    <label>Answer:</label>
                                    <input type="text" value="{{ qid }}" name="qid" required="1" hidden>
                                    <input type="text" class="form-control" name="answer" required="1">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Add Answer</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}